body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: sans-serif;
  background-color: #2a2a2a;
  color: #ebebeb;
}

a {
  color: rgb(225, 82, 225);
}

.container {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

#image-section {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#image-section img {
  width: 400px;
  height: 400px;
  border-radius: 50%;
  border: 2px solid rgb(163, 0, 163);
  object-fit: cover;
  box-shadow: 0 0 40px rgba(244, 13, 244, 0.7);
}

#content {
  width: 50%;
  padding: 40px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 1rem;
  padding-right: 8rem;
}

#name {
  font-size: 3rem;
  display: inline-block;
  background: linear-gradient(177deg, #ff0000, #2c2cff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#buttons {
  margin-top: 2rem;
  margin-bottom: 2rem;
  display: flex;
  gap: 1rem;
}

#buttons a {
  background-color: rgb(60, 60, 60);
  border: 2px solid rgb(163, 0, 163);
  /* box-shadow: 0 0 10px rgba(197, 22, 197, 0.7); */
  border-radius: 50px;
  color: #ebebeb;
  padding: 0.8rem 2rem;
  font-weight: bolder;
  text-decoration: none;
  animation: glow 2s infinite;
}

#buttons a:hover {
  transform: scale(1.02);
}

@keyframes glow {
  0% {
    box-shadow: 0 0 10px rgba(163, 0, 163, 0.5);
  }
  50% {
    box-shadow: 0 0 11px rgba(163, 0, 163, 1);
  }
  100% {
    box-shadow: 0 0 10px rgba(163, 0, 163, 0.5);
  }
}

#socials {
  margin-top: 20px;
  user-select: none;
}

#socials a {
  color: #ebebeb;
  font-size: 1.5rem;
  margin-right: 15px;
  text-decoration: none;
  transition: color 0.3s;
}

.socials a:hover {
  color: red;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
    height: auto;
    padding: 20px;
  }

  #image-section,
  #content {
    width: 100%;
    padding: 20px 0;
  }

  #image-section img {
    width: 200px;
    height: 200px;
    box-shadow: 0 0 10px rgba(244, 13, 244, 0.7);
  }

  #content {
    padding: 0;
  }

  #name {
    font-size: 2.5rem;
  }

  #buttons {
    flex-direction: column;
    align-items: flex-start;
  }

  #buttons a {
    width: fit-content;
  }

  @keyframes glow {
    0% {
      box-shadow: 0 0 5px rgba(163, 0, 163, 0.5);
    }
    50% {
      box-shadow: 0 0 6px rgba(163, 0, 163, 1);
    }
    100% {
      box-shadow: 0 0 5px rgba(163, 0, 163, 0.5);
    }
  }
}
